@import '~assets/fonts/style.css';
html,
body,
header,
#__nuxt {
  height: 100%;
  // max-width: 1440px;
  // max-height: 900px;
  margin: 0 auto;
}
body {
  font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB',
    'Microsoft YaHei', SimSun, sans-serif;
  overflow: auto;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}
a {
  color: #4078c0;
  text-decoration: none;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
}
.main {
  min-height: 100%;
}
.demo {
  margin: 20px 0;
}
@media (max-width: 1440px) {
  .container {
    width: 100%;
  }
}
@media (max-width: 768px) {
}
