{
  "plugins": [
    "transform-runtime",
    "transform-es2015-modules-commonjs",
    "transform-object-rest-spread"
  ],
  "comments": false,
  "env": {
    "development": {
      "retainLines": true,
      "sourceMaps": true,
      "comments": true
    }
  }
}
