@import '~@/assets/fonts/style.css';
html,
body,
header,
#__nuxt {
  height: 100%;
  // max-width: 1440px;
  // max-height: 900px;
  margin: 0 auto;
}
body {
  font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB',
    'Microsoft YaHei', SimSun, sans-serif;
  overflow: auto;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}
a {
  color: #4078c0;
  text-decoration: none;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
}
.main {
  min-height: 100%;
}
.demo {
  margin: 20px 0;
}
.hide {
  opacity: 0;
  width: 0;
}
/* Nav Icon */
.nav-icon {
  $first-top: 5px;
  $space: 8px;
  width: 27px;
  height: 30px;
  position: relative;
  margin: 15px 0px 15px 5px;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
  span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: #324157;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
    &:nth-child(1) {
      top: $first-top;
    }
    &:nth-child(2),
    &:nth-child(3) {
      top: $first-top + $space;
    }
    &:nth-child(4) {
      top: $first-top + $space * 2;
    }
  }
  &.open span {
    &:nth-child(1) {
      top: $first-top + $space;
      width: 0%;
      left: 50%;
    }
    &:nth-child(2) {
      transform: rotate(45deg);
    }
    &:nth-child(3) {
      transform: rotate(-45deg);
    }
    &:nth-child(4) {
      top: $first-top + $space;
      width: 0%;
      left: 50%;
    }
  }
}
@media (max-width: 1440px) {
  .container {
    width: 100%;
  }
}
@media (max-width: 768px) {
}
